[submodule "clang-tools-extra/clangd/index/db/schema/cista"]
	path = clang-tools-extra/clangd/index/db/schema/cista
	url = https://github.com/felixguendling/cista
	branch = master
[submodule "clang-tools-extra/clangd/index/db/schema/lmdb"]
	path = clang-tools-extra/clangd/index/db/schema/lmdb
	url = https://github.com/khng300/lmdb.git
	branch = mdb.master3
